* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.bigTitle {
  font-size: 40px;
  line-height: 46px;
}
.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.italic {
  font-style: italic;
}
.w25 {
  width: 25%;
}
.textPaagraph {
  font-size: 13px;
  line-height: 20px;
}
.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;

}
.fs22 {
  font-size: 22px;
}

.fw400 {
  font-weight: 400;
}


.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
  margin-bottom: 10px;
}

.darkColor {
  color: #272a31;
}

.hAuto {
  height: auto;
}
.textDark {
  color: #515151;
}

.paddingX5 {
  padding-left: 5%;
  padding-right: 5%;
}

.mBottom10 {
  margin-bottom: 10px;
}

.textWhite {
  color: white;
}

.orangeColor {
  color: #ec5242;
}

.lightColor {
  color: #d3d3d3;
}

.dFlex {
  display: flex;
}

.textAlignCenter {
  text-align: center;
}

.marginXAuto {
  margin-left: auto;
  margin-right: auto;
}

.padSections {
  padding-top: 40px;
  padding-bottom: 50px;
}

#navLanding {
  background-image: url(assets/mobileBackground.jpg);
  height: auto;
  padding-bottom: 60px;
}

nav {
  width: 100%;
  height: 90px;
}

#landing {
  height: calc(100% - 90px);

}

#hamburger {
  width: 20px;
  position: absolute;
  top: 35px;
  left: 20px;
}

.invitationContainer {
  border: white 4px solid;
  background-color: rgb(247, 247, 248);
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#mainProgram {
  background-color: #272a31;
}

.guideBar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid;
  margin-bottom: 54px;
}

.progOption {
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.25);
  padding: 15px;


}
.button {
  background-color: #ec5242;
  width: 60%;
  padding: 25px 15px;
  margin-top: 40px;
}

.speaker {
  justify-content: space-between;
  margin-bottom: 35px;
  align-items: center;
}

.speakerInfo {
  width: 70%;
}

.barSpeakerInfo {
  width: 25px;
  height: 10px;
  border-bottom: 1px solid;
}
