* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.bigTitle {
  font-size: 40px;
  line-height: 46px;
}

.w10 {
  width: 10%;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.decorNone {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.noneMobileToFlex {
  display: none;
}

.textPaagraph {
  font-size: 13px;
  line-height: 20px;
}
.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;

}
.fs22 {
  font-size: 22px;
}

.fw400 {
  font-weight: 400;
}


.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
  margin-bottom: 10px;
}

p a:link,
p a:hover,
p a:active,
p a:visited {
  color: inherit;
}


.darkColor {
  color: #272a31;
}

.hAuto {
  height: auto;
}
.textDark {
  color: #515151;
}

.paddingX5 {
  padding-left: 5%;
  padding-right: 5%;
}

.mBottom10 {
  margin-bottom: 10px;
}

.textWhite {
  color: white;
}

.orangeColor {
  color: #ec5242;
}

.lightColor {
  color: #d3d3d3;
}

.dFlex {
  display: flex;
}

.dBlock {
  display: block;
}

.textAlignCenter {
  text-align: center;
}

.marginXAuto {
  margin-left: auto;
  margin-right: auto;
}

.padSections {
  padding-top: 40px;
  padding-bottom: 50px;
}
.homePage {
  background-image: url(assets/mobileBackground.jpg);
  background-size: cover;
}
.aboutPage {
  background-image: url(assets/mobAboutBg.jpg);
  background-size: cover;
}
#navLanding {
  height: auto;
  padding-bottom: 60px;
}

nav {
  width: 100%;
  height: 90px;
}

#landing {
  height: calc(100% - 90px);

}

#hamburger {
  width: 20px;
  position: absolute;
  top: 35px;
  left: 20px;
}

.invitationContainer {
  border: white 4px solid;
  background-color: rgb(247, 247, 248);
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.bgDark {
  background-color: #272a31;
}

.guideBar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid;
  margin-bottom: 40px;
}

.progOption {
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.25);
  padding: 15px;


}
.button {
  background-color: #ec5242;
  width: 60%;
  padding: 25px 15px;
  margin-top: 40px;
}

.speaker {
  justify-content: space-between;
  margin-bottom: 35px;
  align-items: center;
}

.speakerInfo {
  width: 70%;
}

.barSpeakerInfo {
  width: 25px;
  height: 10px;
  border-bottom: 1px solid;
}

.partnerContainer {
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 40px;
  align-items:center;
}

#foundation p {
  line-height: 20px;
}

.evento2018 {
  background-image: url(assets/pastEvent1.png);
}

.evento2018:hover {
  background-image: url(assets/pastEvent1Hover.png);
}

.evento2019 {
  background-image: url(assets/pastEvent2.png);
}

.evento2019:hover {
  background-image: url(assets/pastEvent2Hover.png);
}

.evento {

  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20%;
  width: 100%;
  text-decoration: none;

}

footer {
  justify-content: space-around;
  align-items: center;
  border-top:#272a31 1px solid;
}

@media only screen and (min-width: 768px) {

  .noneDesktop {
    display: none;
  }

  nav {
    height: auto;
  }

  .noneMobileToFlex {
    display: flex;
  }

  .navMedia {
    justify-content: flex-end;
    column-gap: 15px;
    align-items: center;
    height:50px;
    padding-right: 10%;
  }

  .navDeskMenu {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;

  }

  .navDeskMenu li {
    list-style: none;
  }

  .logo {
    width: 75px;
  }

  .navDeskMenu ul {
    column-gap: 50px;
  }

  li a:link,
  li a:hover,
  li a:active,
  li a:visited {
    color: inherit;
    text-decoration: none;
  }

  #navLanding {
    background-image: none;
    height: 100vh;
    padding-bottom: 0;
  }

  #landing {
    height: calc(100% - 130px);
    background-image: url(assets/deskHomeBg.jpg);
    background-size: cover;

  }

  .paddingX5 {
    padding-left: 10%;
    padding-right: 10%;
  }

}
